
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>{% if current_page.data.title %}{{ current_page.data.title }}{% endif %}</title>
    {% stylesheet_link_tag 'all' %}
    {% javascript_include_tag 'all' %}


    <script src="//use.typekit.net/yjo3qcl.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:700italic,900italic,400italic' rel='stylesheet' type='text/css'>

  </head>
  <body class="{% page_classes %} body">


    {{ yield }}


  </body>
</html>
