$bg: #fff;


body {
  background-color: $bg;
  color: #4c4c4c;
  font-family: "source-serif-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4em;
}

.title {
  min-height: 1080px;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  text-align: center;
}

.down-arrow {
  margin-top: 20%;
  height: 15%;
  width: 15%;
  opacity: .65;
}


// TABLE OF CONTENTS

.toc {
  position: relative;
  width: 100%;
  min-height: 1500px;
  background-color: #000;
}

.toc img {
  width: 75%;
}

.toc-column {
  overflow: hidden;
  position: absolute;
  top: 1px;
  left: 60%;
  width: 440px;
  z-index: 999;
  opacity: .9;
}

.toc-top {
  background-color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

      .toc-mag {
        margin: 110px 0 45px 0;
      }

            .mag-title {
              font-family: "source-sans-pro",sans-serif;
              font-style: normal;
              font-weight: 300;
              font-size: 15px;
              text-transform: uppercase;
              letter-spacing: 1.2px;
              display: block;
            }

            .vol-title {
              font-family: "source-serif-pro",sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              text-transform: uppercase;
              letter-spacing: 1px;
              display: block;
            }

      #sq {
        width: 120px;
        height: 32px;
        background: #000;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        position: relative;
      }

      #sq:before {
        content: "";
        width: 120px;
        height: 32px;
        background: #000;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        display: block;
        top: -60px;
      }

      #sq:after {
        content: "";
        width: 120px;
        height: 32px;
        background: #000;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: 30px;
      }

.toc-title {
  display: block;
  background-color: #fff;
  margin: 1.5em 0 1.5em 0;
  padding: 21px 40px 25px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  border-top: 6px solid #fff;
}

      .toc-article {
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-right: 2px;
        font-size: 15px;
      }

      .toc-description {
        font-family: "source-sans-pro",sans-serif;
        font-style: italic;
        font-weight: 200;
      }

.toc-title:hover {
  border-top: 6px solid #cc2650;
}

.toc-quote {
  font-family: 'Playfair Display SC', serif;
  font-weight: 900;
  line-height: 1.1em;
  text-transform: lowercase;
  letter-spacing: 5px;
  position: absolute;
  top: 745px;
  left: 100px;
  width: 50%;
  font-size: 110px;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

.logo {
  z-index: 50;
  width: 350px;
  position: absolute;
  left: 140px;
  top: 3200px;
}



// FEATURE 1: FIND & TAKE

.feature-01 {
  position: relative;
  height: 3000px;
}

#feature-bg {
  background-image: linear-gradient(-90deg, #29607c, #003756);
  position: relative;
  width: 72%;
  height: 27%;
  overflow: visible;
  z-index: -1;
}

#feature-bg:last-child {
  overflow: hidden;
}

#F1-caption-01 {
  position: absolute;
  top: 4%;
  left: 75%;
}

.feature-01-img {
  width: 80%;
  position: absolute;
  top: 0;
  left: 28%;
  z-index: 10;
}

.feature-01-img-02 {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: -8%;
  z-index: 5;
}

.f1-introduction {
  position: absolute;
  top: 32.5%;
  left: 10%;
  width: 600px;
  margin-bottom: 50px;
  float: left;
  clear: left;
}

.f1-introduction p {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.4em;
  color: #008ac0;
  font-size: 21px;
  text-transform: uppercase;
  padding-left: 18px;
  border-left: 4px solid #008ac0;
  width: 300px;
  margin-bottom: 22px;
}


.img-F1-01 {
  width: 65%;
  border-top: 6px solid #008ac0;
}

.find {
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  color: #f5c713;
  position: absolute;
  top: 2.75%;
  left: 10.5%;
  font-variant-ligatures: common-ligatures;
  z-index: 100;
}


#F1-big-type{

  margin-left: 40%;
  margin-bottom: 2.5%;
  float: left;
  clear: both;
}

      .ampersand {
        font-family: 'Playfair Display', serif;
        font-size: 600px;
        font-weight: 700;
        font-style: italic;
        color: #f5c713;
        z-index: 100;
        display: inline-block;
      }

      .take {
        font-family: 'Playfair Display', serif;
        font-size: 175px;
        font-weight: 700;
        font-style: italic;
        color: #f5c713;
        margin-left: -10%;
        display: inline-block;
      }

#F1-01-01 {
  display: inline-block;
  border-left: 1px solid #008ac0;
  padding-left: 12pt;
}

#F1-caption-set1 {
  margin-bottom: 275px;
}

#F1-caption-set1 div {
  width: 25%;
  float: left;
  margin-right: 2%
}


#F1-img-set1 {
  position: relative;
  width: 100%;
  top: 150px;
  float: left;
  clear: both;
  margin-bottom: -7%;
}

.img-F1-02 {
  border-top: 6px solid #008ac0;
  width: 48%;
  margin-right: 3%;
}

.img-F1-03 {
  border-top: 6px solid #008ac0;
  width: 37%;
}

#F1-sm-quote-01 {
  float: right;
  padding-left: 12pt;
  margin-bottom: 50%;
  margin-top: 99%;
}

#F1-01-02 {
  display: inline-block;
  border-left: 1px solid #008ac0;
  padding-left: 12pt;
  margin-top: 70%;
}

#F1-01-03 {
  display: inline-block;
  border-left: 1px solid #008ac0;
  padding-left: 12pt;
}


// RIGHT

.F1-right {
  width: 28%;
  margin-left: 55%;
}


// LEFT

.F1-left {
  width: 28%;
  margin-left: 17%;
  margin-top: -37%;
}


// GENERAL


h1 {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #4c4c4c;
  font-size: 24px;
}


.display-bold {
  font-family: 'Playfair Display', serif;
  font-size: 264px;
  font-weight: 700;
  color: #4c4c4c;
}

.display-black {
  font-family: 'Playfair Display', serif;
  font-size: 264px;
  font-weight: 900;
  color: #4c4c4c;
}


p {
  margin-bottom: 9pt;
}

p:first-child {
  margin-top: -6px;
}

p:last-child {
  margin-bottom: -6px;
}

.lead-in {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #008ac0;
  border-left: 4px solid #008ac0;
  padding-left: 12px;
  margin-left: -18px;
  padding-bottom: 19px;
}

.caption {
  font-family: "source-sans-pro",sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4em;
}

.caption-bold {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4em;
  color: #008ac0;
}

.small-quote {
  width: 65%;
  font-family: "source-sans-pro",sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4em;
}

.small-quotation {
  display: block;
  font-family: "source-sans-pro",sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: #008ac0;
  margin-bottom: -9px;
}

.video-container {
  background-color: #333;
  height: 650px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 6%;
}

#F1-vid-01 {
  margin: 0 auto;
  display: block;
}

.video-caption {
  display: inline-block;
  width: 10%;
  text-align: left;
  font-family: "source-sans-pro",sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin-left: 2%;
}

.video-caption span {
  display: block;
  margin-bottom: 5%;
}

