.title {
  min-height: 800px;
  margin-top: 25%;
  margin-left: auto;
  margin-right: auto;
  width: 425px;
  text-align: center;
}

.down-arrow {
  margin-top: 20%;
  height: 15%;
  width: 15%;
  opacity: .65;
}


// ----- toc

.toc {
  position: relative;
  width: 100%;
  min-height: 1500px;
  background-color: #000;
  background: url('../../img/vid_prep_long.gif') no-repeat center center fixed;
  background-size: cover;
  height: auto;
}

.toc-column {
  overflow: hidden;
  position: absolute;
  top: 1px;
  left: 65%;
  width: 440px;
  z-index: 999;
  opacity: .9;
}

.toc-column__intro {
  background-color: #fff;
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.toc-column__text {
  margin: 110px 0 45px 0;
}

.toc-column__name {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: block;
}

.toc-column__vol {
  font-family: "source-serif-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: block;
}

#sq {
  width: 120px;
  height: 32px;
  background: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  position: relative;
}

#sq:before {
  content: "";
  width: 120px;
  height: 32px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
  top: -60px;
}

#sq:after {
  content: "";
  width: 120px;
  height: 32px;
  background: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 30px;
}

.toc-column__group {
  display: block;
  background-color: #fff;
  margin: 1.5em 0 1.5em 0;
  padding: 21px 40px 25px 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  border-top: 6px solid #fff;
}

.toc-column__title {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-right: 2px;
  font-size: 15px;
}

.toc-column__description {
  font-family: "source-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 200;
}

.toc-column__group:hover {
  border-top: 6px solid $feat-one-spot;
}

.toc-column__quote {
  font-family: 'Playfair Display SC', serif;
  font-size: 98px;
  font-weight: 900;
  line-height: 1.1em;
  text-transform: lowercase;
  letter-spacing: 5px;
  position: absolute;
  top: 745px;
  left: 100px;
  width: 50%;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}


// ------------------------ ARTICLES ------------------------


// ----- feature one: find & take


.article__container {
  position: relative;
  height: 3000px;
  width: 100%;
}

#article__figure--feature-one {
  background-image: linear-gradient(-90deg, #29607c, #003756);
  position: relative;
  width: 72%;
  height: 27%;
  overflow: visible;
  z-index: -1;
}

#article__figure--feature-one:last-child {
  overflow: hidden;
}

.article__figure__l-img {
  width: 80%;
  position: absolute;
  top: 0;
  left: 28%;
  z-index: 10;
}

.article__figure__r-img {
  width: 85%;
  position: absolute;
  bottom: 0;
  left: -8%;
  z-index: 5;
}

.article__figure__cap {
  float: right;
  margin-left: 30px;
  margin-bottom: 30px;
}

#article__figure__r-cap {
  float: right;
  margin-right: -25%;
  margin-top: 13.25%;
}

.article__intro {
  position: absolute;
  top: 32.5%;
  left: 10%;
  width: 600px;
  margin-bottom: 50px;
  float: left;
  clear: left;
}

.article__intro p {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 1.25px;
  line-height: 1.4em;
  color: $feat-one-spot;
  font-size: 21px;
  text-transform: uppercase;
  padding-left: 18px;
  border-left: 4px solid $feat-one-spot;
  width: 300px;
  margin-bottom: 22px;
}


.article__intro__l-img {
  width: 65%;
  border-top: 6px solid $feat-one-spot;
}

.article__text--find {
  font-family: 'Playfair Display', serif;
  font-size: 150px;
  font-weight: 700;
  font-style: italic;
  color: #f5c713;
  position: absolute;
  top: 2.75%;
  left: 10.5%;
  font-variant-ligatures: common-ligatures;
  z-index: 100;
}


#article__text__group{
  margin-left: 40%;
  margin-bottom: 2.5%;
  float: left;
  clear: both;
}

.article__text--amp {
  font-family: 'Playfair Display', serif;
  font-size: 600px;
  font-weight: 700;
  font-style: italic;
  color: #f5c713;
  z-index: 100;
  display: inline-block;
}

.article__text--take {
  font-family: 'Playfair Display', serif;
  font-size: 175px;
  font-weight: 700;
  font-style: italic;
  color: #f5c713;
  margin-left: -10%;
  display: inline-block;
}

.article__r-5-col__text {
  display: inline-block;
  @include border-left;
}

.article__group {
  max-width: 100%;
  float:left;
  display: inline-block;
  vertical-align: bottom;
  margin-top: -28%;
}

.article__group__cap {
  padding-left: 12pt;
  margin-left: 31.5%;
}

.article__group__cap div {
  float: left;
  margin-right: 12pt;
  margin-bottom: 3%;
}

.article__group img {
  border-top: 6px solid $feat-one-spot;
}

.article__group__img {
  float: left;
  vertical-align: bottom;
}

.article__group__img img {
  margin-right: 12pt;
}

.article__r-sm-quote-mod {
  display: inline-block;
  float: right;
  width: 120%;
  padding-left: 12pt;
  margin-right: -151%;
  margin-top: -39%;
}

.article__l-7-col__text {
  display: inline-block;
  @include border-left;
  margin-top: 15%;
}

.article__l-figure-mod {
  margin-top: -100%;
  margin-left: -192%;
  float: left;
}

.article__figure-mod img {
  margin-right: 12pt;
}


.article__r-quote-mod {
  overflow: visible;
  margin-left: -100%;
}

.article__r-quote__cap {
  margin-top: 1.4%;
}


.article__r-quote__cap div {
  float: left;
  margin-right: 12pt;
}

.article__r-quote__cap span {
  display: block;
}

.article__r-img {
  border-top: 6px solid $feat-one-spot;
  overflow: visible;
  margin-top: 5%;
  margin-left: -15%;
}

.article__l-quote-mod--top {
  overflow: visible;
  margin-left: -68%;
  margin-bottom: -6%;
  margin-top: -79%;
  border-bottom: 45px solid #fff;
}

.article__l-bleed-figure-mod {
  overflow: visible;
  margin-left: -95%;
  margin-top: 10%;
}

.article__l-img {
  border-top: 6px solid $feat-one-spot;
  width: 105%;
}



// ----- feature two: our epigenomes

.feat-two-img {
  background: url('../../img/02-ad.jpg') no-repeat center center fixed;
  background-size: cover;
  background-color: #fff;
  width: 100%;
  min-height: 1500px;
  height: auto;
}


// ------------------------ COLUMNS ------------------------

// ----- right column

.article__r-5-col {
  float: right;
  width: 28%;
  margin-left: 3.6%;
  margin-right: 10.2%;
  clear: both;
}

.article__r-5-col--last {
  float: right;
  width: 28%;
  margin-top: -98%;
  margin-left: 3.6%;
  margin-right: 10.2%;
  clear: both;
}


// ----- left column

.article__l-7-col {
  float: left;
  width: 28%;
  margin-left: 26.6%;
  margin-right: 3.6%;
  clear: both;
}


// ------------------------ GENERAL ------------------------


h1 {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #4c4c4c;
  font-size: 24px;
}


.display-bold {
  font-family: 'Playfair Display', serif;
  font-size: 264px;
  font-weight: 700;
  color: #4c4c4c;
}

.display-black {
  font-family: 'Playfair Display', serif;
  font-size: 264px;
  font-weight: 900;
  color: #4c4c4c;
}


p {
  margin-bottom: 9pt;
}

p:first-child {
  margin-top: -6px;
}

p:last-child {
  margin-bottom: -6px;
}

.lead-in {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  color: $feat-one-spot;
  position: relative;
}

.lead-in::after {
  content: ' ';
  border-left: 3px solid $feat-one-spot;
  display: block;
  position: absolute;
  top: 6px;
  bottom: 4px;
  left: -18px;
}

.caption {
  width: 170px;
  font-family: "source-sans-pro",sans-serif;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4em;
}

.caption span {
  display: block;
}

.caption-bold {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.4em;
  color: $feat-one-spot;
}

.article__sm-quote {
  width: 65%;
  font-family: "source-sans-pro",sans-serif;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.4em;
}

.small-quotation {
  display: block;
  font-family: "source-sans-pro",sans-serif;
  font-weight: 300;
  font-size: 42px;
  color: $feat-one-spot;
  margin-bottom: -9px;
}

.big-quote {
  font-family: "source-sans-pro",sans-serif;
  font-weight: 200;
  font-size: 48px;
  line-height: 1.3em;
  color: $feat-one-spot;
  background-color: #fff;
  display: inline-block;
  padding: 1% 3% 1% 0;
}

.article__video__group {
  display: inline-block;
  width: 100%;
  background-color: #333;
  height: 650px;
  text-align: center;
  margin-top: 4%;
  margin-bottom: 4%;
  padding-top: 6%;
}

.article__video {
  margin: 0 auto;
  display: block;
}

.video-caption {
  display: inline-block;
  width: 10%;
  text-align: left;
  font-family: "source-sans-pro",sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.5em;
  color: #fff;
  margin-left: 2%;
}

.video-caption span {
  display: block;
  margin-bottom: 5%;
}

.container {
  height: 125px;
}


// ----- ad

.ad {
  position: relative;
  height: 1300px;
  background-color: #eee;
}

.ad__figure__img {
  max-width: 100%;
  height: auto;
}

.ad__figure__logo {
  z-index: 50;
  width: 350px;
  position: absolute;
  left: 125px;
  top: 250px;
}


