---
layout: base
title: merge
menu: true
---

<div class="title">
    An online publication of a fictional editorial print.
    Content is curated but is not claiming ownership.
      <img src="img/down-arrow.svg" class="down-arrow" alt="Continue down">


</div>


<div class="toc">
    <img src="img/vid_prep_long.gif" class="cover-img" alt="TOC">
    <div class="toc-column">
        <span class="toc-top">
            <div id="sq"></div>
            <div class="toc-mag">
                <span class="mag-title">MERGE</span>
                <span class="vol-title">Volume 08 Issue 80</span>
            </div>
        </span>
        <span class="toc-title">
            <span class="toc-article">Find &amp; Take</span> <span class="toc-description">Introduction to the Newest Innovative Concepts Beyond Needle and Thread</span> | By Maryann Guerzon
        </span>
        <span class="toc-title">
            <span class="toc-article">Our Epigenomes</span> <span class="toc-description">A Culmination of Life Experience from Genetics and the Environment</span> | By Sana Nia
        </span>
        <span class="toc-title">
            <span class="toc-article">1+1=1</span> <span class="toc-description">Deconstructing the Collaborative Process of the Proenza Schouler Boys</span> | By Schuyler Erickson
        </span>
        <span class="toc-title">
            <span class="toc-article">Interview</span> <span class="toc-description">The World's First Carbon Fiber 3D Printer</span> | With Greg Mark By Nick David
        </span>
        <span class="toc-title">
            <span class="toc-article">New Object Research</span> <span class="toc-description">The Shiva Skull Bag</span> | By Elizabeth Almeida
        </span>
    </div>

    <div class="toc-quote"><span style="letter-spacing: 12px;">R</span>aw, organic materials to the finished 3D product.</div>
</div>

<div class="ad">
      <img src="img/01-ad.jpg" class="cover-img" alt="ad">
      <img src="img/01-ad-fit.png" class="logo" alt="ad">
</div>

<div class="feature-01">

        <div id="feature-bg">
        <img src="img/feature-01-img.png" class="feature-01-img" alt="feature">
        <img src="img/feature-01-img-02.png" class="feature-01-img-02" alt="feature">
        </div>

        <div id="F1-caption-01">
        <div class="caption"><div class="caption-bold">Photo</div> Catherine Wales, Project <span style="letter-spacing:1px;">DNA</span>, London</div>
        </div>

        <div class="f1-introduction">
          <p>An introduction to the newest innovative concepts beyond needle and thread.</p>
          <img src="img/F1-01.jpg" class="img-F1-01" alt="F1">
        </div>

        <div class="find">find</div>

        <div id="F1-big-type">
          <div class="ampersand">&amp;</div>
          <div class="take">take</div>
        </div>

        <div id="F1-01-01">
          <p><span class="lead-in">Recently innovative fashion designers are pushing the boundaries of garment construction</span> far beyond the normal needle and thread, employing the latest in 3D printing techniques to produce technologically advanced wearables. Designs often take shape as futuristic ornaments, like the 3D printed led Pixel Hat—a cap that can definitely put you at risk for onlookers to assume that  you’ve just stumbled out of a rave made by duo, Younghui Kim and Yejin Cho. The 3D printed hat embedded with led lights up, changing whenever the wearer tilts their head.</p>
          <p>Or even more practically, London-based designer Ross Barber’s leather sewn shoes with 3D printed soles. He samples the technique by augmenting his F/W leather shoe line with 3D-printed soles. What’s interesting and innovative here is that Barber is taking something defined as classic and familiar—a leather shoe—and turning it into something completely new by adding an experimental and customizable touch. The technique’s more digestible when paired with a “normal” material like leather. Right now the technology is still a novelty.</p>
          <p>While all of these 3D printed tech designs are garnering attention from the tech-savvy, some are turning heads within the fashion elite as well. Dutch designer Iris van Herpen, a designer at the forefront of the 3D printed revolution, blew us away last week when she unveiled her Spring 2013 Haute Couture collection in Paris.</p>
          <p>Her newest line, Voltage, features gowns and other pieces of awe-inspiring detail that recall plasmatic bolts trapped inside a crystal ball. Van Herpen describes her collection as having been inspired by what she calls “the electricity of the body,” which is apparent in the veritable vibrations given off by the indiscernible gaps between feathery boa-like offshoots in one piece. Clearly, 3D printing techniques are advancing beyond the experimental fringe, and are finding a home in some of the fashion world’s most respected showcases.</p>

        </div>

        <div id="F1-caption-set1">
          <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
          <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
        </div>

        <div id="F1-img-set1">
          <img src="img/F1-02.jpg" class="img-F1-02" alt="F1">
          <img src="img/F1-03.gif" class="img-F1-03" alt="F1">
        </div>

        <div class="small-quote">
        <span class="small-quotation">&ldquo;</span>
        If you understand 3D printing to mean the deposition and/or fusing of material by layer, it can really open up what you could consider 3D printing to be.
        </div>

        <div id="F1-01-02">
        <p>Van Herpen describes her collection as having been inspired by what she calls “the electricity of the body,” which is apparent in the veritable vibrations given off by the indiscernible gaps between feathery boa-like offshoots in one piece. Clearly, 3D printing techniques are advancing beyond the experimental fringe, and are finding a home in some of the fashion world’s most respected showcases.</p>
        <p>But what exactly is 3D printing? How does it work? 3D printing employs an additive process: layers of material are carefully laid down successively until the desired shape is created. This allows you to make virtually any shape or object, its moving parts and all—even a working handgun or a physical fully-functional camera can be 3D printed. Selective laser sintering (SLS) is the main process used for small-scale objects like jewelry, accessories, and clothing—the things we care about. Layer by layer, a polyamide powder made from particles of raw material is turned into the desired object. sls is the method preferred by proponents of 3D printed fashion: it’s used by everyone from eyewear label mykita to the fashion designer Francis Bitoni and the Dutch couturier Iris van Herpen.</p>
        <p>To design something to be 3D printed is to think differently about what you’re creating and how it’s created. By using mesh modeling you can transform a geometric virtual shape into a printed physical form—and this is just the beginning of what this technology can do. “If you understand 3D printing to mean the deposition and/or fusing of material by layer,” says Gil Akos, one half of design studio modeLab, “it can really open up what you could consider 3D printing to be. And then, shifting out of plastics into things like plant matter or even flesh—3D printing skin—things like that and such.”</p>
        </div>

        <div class="video-container">
        <div class="F1-vid-01">
          <iframe width="800" height="550" src="https://www.youtube.com/embed/IS4Xw8f9LCc" frameborder="0" allowfullscreen></iframe>

        <div class="video-caption"><span style="font-style:italic;">Leaders Of The 3D Printing Revolution (6:47)</span>
        The Creators Project</div>
        </div>
        </div>


</div>

<div id="container"></div>

