---
layout: base
title: merge
menu: true
---

<div class="title">
    An online publication of a fictional editorial print.
    Content is curated but is not claiming ownership.
    <img src="img/down-arrow.svg" class="down-arrow" alt="Scroll Down">


</div>


<div class="toc">
    <div class="toc-column">
        <span class="toc-column__intro">
            <div id="sq"></div>
            <div class="toc-column__text">
                <span class="toc-column__name">MERGE</span>
                <span class="toc-column__vol">Volume 08 Issue 80</span>
            </div>
        </span>
        <span class="toc-column__group">
            <span class="toc-column__title">Find &amp; Take</span> <span class="toc-column__description">Introduction to the Newest Innovative Concepts Beyond Needle and Thread</span>&ensp;|&ensp;By Maryann Guerzon
        </span>
        <span class="toc-column__group">
            <span class="toc-column__title">Our Epigenomes</span> <span class="toc-column__description">A Culmination of Life Experience from Genetics and the Environment</span>&ensp;|&ensp;By Sana Nia
        </span>
        <span class="toc-column__group">
            <span class="toc-column__title">1+1=1</span> <span class="toc-column__description">Deconstructing the Collaborative Process of the Proenza Schouler Boys</span>&ensp;|&ensp;By Schuyler Erickson
        </span>
        <span class="toc-column__group">
            <span class="toc-column__title">Interview</span> <span class="toc-column__description">The World's First Carbon Fiber 3D Printer</span>&ensp;|&ensp;With Greg Mark By Nick David
        </span>
        <span class="toc-column__group">
            <span class="toc-column__title">New Object Research</span> <span class="toc-column__description">The Shiva Skull Bag</span>&ensp;|&ensp;By Elizabeth Almeida
        </span>
    </div>

    <div class="toc-column__quote"><span style="letter-spacing: 12px;">R</span>aw, organic materials to the finished 3D product.</div>
</div>



<div class="ad">
    <figure class="ad__figure">
      <img src="#" class="ad__figure__img">
      <img src="#" class="ad__figure__logo">
    </figure>
</div>



<div class="article__container">

        <figure id="article__figure--feature-one">
          <img src="img/feature-01-img.png" class="article__figure__l-img">
          <img src="img/feature-01-img-02.png" class="article__figure__r-img">

          <div id="article__figure__r-cap">
          <div class="caption"><div class="caption-bold">Photo</div> Catherine Wales, Project DNA, London
          </div>
          </div>
        </figure>

        <div class="article__intro">
          <p>An introduction to the newest innovative concepts beyond needle and thread.</p>
          <img src="img/F1-01.jpg" class="article__intro__l-img" alt="F1">
        </div>

        <div class="article__text--find">find</div>

        <div id="article__text__group">
          <div class="article__text--amp">&amp;</div>
          <div class="article__text--take">take</div>
        </div>

        <div class="article__r-5-col">
        <div class="article__r-5-col__text">
          <p><span class="lead-in">Recently innovative fashion designers are pushing the boundaries of garment construction</span> far beyond the normal needle and thread, employing the latest in 3D printing techniques to produce technologically advanced wearables. Designs often take shape as futuristic ornaments, like the 3D printed <span style="letter-spacing:1px;">LED</span> Pixel Hat—a cap that can definitely put you at risk for onlookers to assume that  you’ve just stumbled out of a rave made by duo, Younghui Kim and Yejin Cho. The 3D printed hat embedded with led lights up, changing whenever the wearer tilts their head.</p>
          <p>Or even more practically, London-based designer Ross Barber’s leather sewn shoes with 3D printed soles. He samples the technique by augmenting his F/W leather shoe line with 3D-printed soles. What’s interesting and innovative here is that Barber is taking something defined as classic and familiar—a leather shoe—and turning it into something completely new by adding an experimental and customizable touch. The technique’s more digestible when paired with a “normal” material like leather. Right now the technology is still a novelty.</p>
          <p>While all of these 3D printed tech designs are garnering attention from the tech-savvy, some are turning heads within the fashion elite as well. Dutch designer Iris van Herpen, a designer at the forefront of the 3D printed revolution, blew us away last week when she unveiled her Spring 2013 Haute Couture collection in Paris.</p>
          <p>Her newest line, Voltage, features gowns and other pieces of awe-inspiring detail that recall plasmatic bolts trapped inside a crystal ball. Van Herpen describes her collection as having been inspired by what she calls “the electricity of the body,” which is apparent in the veritable vibrations given off by the indiscernible gaps between feathery boa-like offshoots in one piece. Clearly, 3D printing techniques are advancing beyond the experimental fringe, and are finding a home in some of the fashion world’s most respected showcases.</p></div>
        </div>


        <div class="article__group">
              <figcaption class="article__group__cap">
                  <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
                  <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
              </figcaption>
              <div class="article__group__img">
                  <img src="img/F1-02.jpg" class="article__img" alt="F1">
                  <img src="img/F1-03.gif" class="article__img" alt="F1">
              </div>
        </div>



        <div class="article__l-7-col">
        <div class="article__l-7-col__text">
        <p>Van Herpen describes her collection as having been inspired by what she calls “the electricity of the body,” which is apparent in the veritable vibrations given off by the indiscernible gaps between feathery boa-like offshoots in one piece. Clearly, 3D printing techniques are advancing beyond the experimental fringe, and are finding a home in some of the fashion world’s most respected showcases.
        </p>
        <div class="article__r-sm-quote-mod">
          <div class="article__sm-quote">
            <span class="small-quotation">&ldquo;</span>
            If you understand 3D printing to mean the deposition and/or fusing of material by layer, it can really open up what you could consider 3D printing to be.</div>
        </div>
        <p>But what exactly is 3D printing? How does it work? 3D printing employs an additive process: layers of material are carefully laid down successively until the desired shape is created. This allows you to make virtually any shape or object, its moving parts and all—even a working handgun or a physical fully-functional camera can be 3D printed. Selective laser sintering <span style="letter-spacing:1px;">(SLS)</span> is the main process used for small-scale objects like jewelry, accessories, and clothing—the things we care about. Layer by layer, a polyamide powder made from particles of raw material is turned into the desired object. <span style="letter-spacing:1px;">SLS</span> is the method preferred by proponents of 3D printed fashion: it’s used by everyone from eyewear label mykita to the fashion designer Francis Bitoni and the Dutch couturier Iris van Herpen.</p>
        <p>To design something to be 3D printed is to think differently about what you’re creating and how it’s created. By using mesh modeling you can transform a geometric virtual shape into a printed physical form—and this is just the beginning of what this technology can do. “If you understand 3D printing to mean the deposition and/or fusing of material by layer,” says Gil Akos, one half of design studio modeLab, “it can really open up what you could consider 3D printing to be. And then, shifting out of plastics into things like plant matter or even flesh—3D printing skin—things like that and such.”</p>
        </div>
        </div>

        <div class="article__video__group">
          <div class="article__video">
              <iframe width="800" height="550" src="https://www.youtube.com/embed/IS4Xw8f9LCc" frameborder="0" allowfullscreen></iframe>

              <div class="video-caption"><span style="font-style:italic;">Leaders Of The 3D Printing Revolution (6:47)</span>
              The Creators Project</div>
          </div>
        </div>



        <div class="article__r-5-col">
        <div class="article__r-5-col__text">
        <p>As for the materials, products can be produced in everything from nylon or plaster to ceramic and metal. Soft materials like <span style="letter-spacing:1px;">TPU</span> or elastomer polymer can also produce flexible products. “in most cases we are doing something no one has done, with a new material no one has worked with before,” Bitoni, the designer behind the world’s first 3D printed dress, explains. “we are transforming matter into media.” He’s right—the range of materials is evolving every day.</p>
        <p>Printers are getting closer to producing good fabric-like materials, using interlocking structures to create weaves and stitches. Duanne Scott, Shapeways&rsquo; “Designer Evangelist,” said that once more fashion designers start using 3D printing, it will make a case for 3D manufacturers to develop more breathable, wearable materials. This is, of course, a chicken and an egg situation, as designers aren’t going to want to migrate to more 3D printing until they know it is as good if not better than their current methods.</p>
        <div class="article__figure">
          <div class="article__l-figure-mod">
            <img src="img/F1-04.gif" class="article__figure__img">
            <figcaption class="article__figure__cap">
              <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
            </figcaption>
          </div>
        </div>
        <p>Designers and consumers have a sort of distinct historical and strong emotional affinity to non-synthetic materials like leathers, silks and cotton, and they aren’t going anywhere. It wouldn’t really be surprising to see designers incorporating complex printed elements with traditional materials in the upcoming future. The concept of 3D printing is revolutionizing the market for custom-designed products, and we meet creatives who are applying the technology to their various disciplines.</p>
        <div class="article__r-quote">
            <div class="article__r-quote-mod">
                <div class ="big-quote">We are transforming matter into media.</div>
                <div class="article__r-quote__cap">
                    <div class="caption"><span style="font-style:normal;">—Francis Bitoni,</span> New York Designer</div>
                    <div class="caption">Bitoni owns Francis Bitonti Studio. He is the designer behind the world’s first 3D printed dress.
                    </div>
                </div>
            </div>
        </div>
        <p>3D print technology and materials like mylon can give us complete freedom to create any desired shapes, combining precise handcrafting with modern technology. This led to models like our nova or daisuké frames, which have only been made possible because of this process. 3D printing is challenging and changing not only the product itself, but also our way of thinking about those kinds of products.</p>
        <p>The mylon material, first of all just from a functional perspective, is great to use. There is no other eye-wear material out there that compares to mylon—it’s lightweight, it’s adjustable, it’s durable, it’s flexible. At the same time, it also offers a new kind of aesthetic. Since technology is moving so fast, we have to strive to keep up with the latest developments to reach our full potential. “The limits are endless with a 3D printer,” muses Bre Pettis, the co-founder and ceo of MakerBot Industries, just one of the companies championing the 3D printing movement. “It’s feasible that within a few years, 3D printing wearables will be a common occurrence.”</p>
        </div>
        <img src="img/F1-05.gif" class="article__r-img">

        </div>



        <div class="article__l-7-col">
        <div class="article__l-7-col__text">
        <div class="article__l-quote">
            <div class="article__l-quote-mod--top">
                <div class="big-quote">Since technology is moving so fast, we have to strive to keep up with the latest developments to reach our full potential.</div>
            </div>
        </div>
        <p>A wide range of materials and techniques also means a wider palette of products. Moreover, a hands-on approach that links the consumer with the design process is a huge benefit where fashion is concerned. As Jessica Rosenkrantz, co-founder of generative design studio Nervous System, explains, “3D printing provides a compelling kind of alternative to the way products are designed, manufactured, distributed, and sold today. Instead of designing objects that need to have mass appeal, companies can produce their products on demand and custom-tailored to customer preferences.” Creativity is, essentially, back in the rightful hands of the consumer.</p>
        <div class="article__r-sm-quote-mod">
            <div class="article__sm-quote">
            <span class="small-quotation">&ldquo;</span>
            The limits are endless with a 3D printer. It’s feasible that within a few years, 3D printing wearables will be a common occurrence.

            <div class="article__r-quote__cap">
                    <div class="caption"><span style="font-style:normal;">Bre Pettis,</span> MakerBot Industries CEO</div>
            </div>
            </div>
        </div>
        <p>For the first time ever, models wore clothes and accessories made using 3D printing technology on the runways at New York Fashion Week.
        </p>
        <p>What makes the above runway show so different from all the others during Fashion Week in New York? The answer, many of the accessories, and even some of the entire outfits, were created on 3D printers. The show even helped kick off the first ever 3D Printshow New York, a conference for things 3D printing related.</p>

        </div>

        <div class="article__figure">
          <div class="article__l-bleed-figure-mod">
            <img src="img/F1-06.jpg" class="article__l-img">
            <figcaption class="article__figure__cap">
              <div class="caption"><div class="caption-bold">Photo</div> <span style="letter-spacing:1px;">KENZO SS14</span> Couture, Paris &copy; By <span style="letter-spacing:1px;">KENZO</span> Photography.</div>
            </figcaption>
          </div>
        </div>

         <div class="article__figure">
          <div class="article__l-bleed-figure-mod">
            <img src="img/F1-07.jpg" class="article__l-img">
            <figcaption class="article__figure__cap">
              <div class="caption"><div class="caption-bold">Photo</div> 24 &copy; By Issey Miyake Photography.
              </div>
            </figcaption>
          </div>
        </div>

        </div>


        <div class="article__r-5-col--last">
        <div class="article__r-5-col__text">
        <p>“There’s pieces on the catwalk that you’ll think ‘I would never wear that because it’s so huge and amazingly exciting.’ It’s not something that you would wear on the high street, but there’s also shoes on the catwalk that you can order online and customize and you can change the color and the size and they’re printable so that you can have your own printed, customized shoes,” said Kerry Hogarth from the conference. And the designers of the 3D printed elements of the show say while some are, quite clearly, a bit out there and purely statements of fashion, 3D printing clothing and accessories can actually be practical. “The corset, for example, is actually customizable, so it doesn’t matter what size you are we can give you a perfect fit, because the forms and shapes are different. You haven’t seen stuff like this before and I think a lot of people are going to be wondering how the heck’s that made, how’d they do that,” said Michaella Janse Van Vuuren, 3D print engineer and artist.</p>
        <p>Experts say, “It could be anywhere between five and 20 years before 3D printed clothing can fully begin to match conventional garb in price, comfort, and durability,” Rosenkrantz concludes. “But right now, the prices and material properties of all the 3D printed products can’t compete with off the shelf clothing.” Although much can be said for the fantasy of the 3D printed movement, now, more than ever, we’re understanding the economic and ecological benefits of 3D printing. As for the fashion? The possibilities really are as limitless as they seem. Unique and forward-thinking designs will be possible on a scale that has never been attempted or existed before.
        </p>
        </div>
        </div>

<div class="container" style="clear:both;"></div>

<div class="feat-two-img"></div>


</div>


