---
layout: base
title: merge
menu: true
---

<div class="title">
    An online publication of a fictional editorial print.
    Content is curated but is not claiming ownership.
      <img src="img/down-arrow.svg" class="down-arrow" alt="Continue down">


</div>


<div class="toc">
    <img src="img/vid_prep_long.gif" class="cover-img" alt="TOC">
    <div class="toc-column">
        <span class="toc-top">
            <div id="sq"></div>
            <div class="toc-mag">
                <span class="mag-title">MERGE</span>
                <span class="vol-title">Volume 08 Issue 80</span>
            </div>
        </span>
        <span class="toc-title">
            <span class="toc-article">Find &amp; Take</span> <span class="toc-description">Introduction to the Newest Innovative Concepts Beyond Needle and Thread</span> | By Maryann Guerzon
        </span>
        <span class="toc-title">
            <span class="toc-article">Our Epigenomes</span> <span class="toc-description">A Culmination of Life Experience from Genetics and the Environment</span> | By Sana Nia
        </span>
        <span class="toc-title">
            <span class="toc-article">1+1=1</span> <span class="toc-description">Deconstructing the Collaborative Process of the Proenza Schouler Boys</span> | By Schuyler Erickson
        </span>
        <span class="toc-title">
            <span class="toc-article">Interview</span> <span class="toc-description">The World's First Carbon Fiber 3D Printer</span> | With Greg Mark By Nick David
        </span>
        <span class="toc-title">
            <span class="toc-article">New Object Research</span> <span class="toc-description">The Shiva Skull Bag</span> | By Elizabeth Almeida
        </span>
    </div>

    <div class="toc-quote"><span style="letter-spacing: 12px;">R</span>aw, organic materials to the finished 3D product.</div>
</div>

<div class="ad">
      <img src="img/01-ad.jpg" class="cover-img" alt="ad">
      <img src="img/01-ad-fit.png" class="logo" alt="ad">
</div>

<div class="feature-01">

        <div id="feature-bg">
        <img src="img/feature-01-img.png" class="feature-01-img" alt="feature">
        <img src="img/feature-01-img-02.png" class="feature-01-img-02" alt="feature">
        </div>

        <div id="F1-caption-01">
        <div class="caption"><div class="caption-bold">Photo</div> Catherine Wales, Project <span style="letter-spacing:1px;">DNA</span>, London</div>
        </div>

        <div class="f1-introduction">
          <p>An introduction to the newest innovative concepts beyond needle and thread.</p>
          <img src="img/F1-01.jpg" class="img-F1-01" alt="F1">
        </div>

        <div class="find">find</div>

        <div id="F1-big-type">
          <div class="ampersand">&amp;</div>
          <div class="take">take</div>
        </div>

        <div id="article-01-01">
          <p><span class="lead-in">Recently innovative fashion designers are pushing the boundaries of garment construction</span> far beyond the normal needle and thread, employing the latest in 3D printing techniques to produce technologically advanced wearables. Designs often take shape as futuristic ornaments, like the 3D printed led Pixel Hat—a cap that can definitely put you at risk for onlookers to assume that  you’ve just stumbled out of a rave made by duo, Younghui Kim and Yejin Cho. The 3D printed hat embedded with led lights up, changing whenever the wearer tilts their head.</p>
          <p>Or even more practically, London-based designer Ross Barber’s leather sewn shoes with 3D printed soles. He samples the technique by augmenting his F/W leather shoe line with 3D-printed soles. What’s interesting and innovative here is that Barber is taking something defined as classic and familiar—a leather shoe—and turning it into something completely new by adding an experimental and customizable touch. The technique’s more digestible when paired with a “normal” material like leather. Right now the technology is still a novelty.</p>
          <p>While all of these 3D printed tech designs are garnering attention from the tech-savvy, some are turning heads within the fashion elite as well. Dutch designer Iris van Herpen, a designer at the forefront of the 3D printed revolution, blew us away last week when she unveiled her Spring 2013 Haute Couture collection in Paris.</p>
          <p>Her newest line, Voltage, features gowns and other pieces of awe-inspiring detail that recall plasmatic bolts trapped inside a crystal ball. Van Herpen describes her collection as having been inspired by what she calls “the electricity of the body,” which is apparent in the veritable vibrations given off by the indiscernible gaps between feathery boa-like offshoots in one piece. Clearly, 3D printing techniques are advancing beyond the experimental fringe, and are finding a home in some of the fashion world’s most respected showcases.</p>

        </div>

        <div id="F1-caption-set1">
          <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
          <div class="caption">Moving, roiling snow turns into something closer to liquid, thick like lava. But when it stops, it instantly freezes solid. </div>
        </div>

        <div id="F1-img-set1">
          <img src="img/F1-02.jpg" class="img-F1-02" alt="F1">
          <img src="img/F1-03.gif" class="img-F1-03" alt="F1">
        </div>



</div>




<div class="container">


<ul>
  <li>things</li>
  <li>things</li>
  <li>things</li>
  <li>things</li>
  <li>things</li>
</ul>


      <div class="content">
      <h1>Lorem Ipsum</h1>
      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
      </div>


<div class="display">merge</div>

</div>
